@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: cursive;
}

h1 {
  font-family: "Bungee Spice", cursive;
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.color-container {
  background-color: orange;
  width: 300px;
  height: 150px;
  margin: 5px;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border: 2px solid #000;
}
